#paris-fond {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: url("/assets/img/parisse.jpg");
    /* background-position: ; */
    background-size: cover;
    height: 100vh;
    padding: 100px;
}

.containers{
    align-items: center;
    justify-content: center;
    background: hsl(0, 0%, 100%);
    width: 40vw;
    height: 100vh;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(34, 36, 34, 0.744), 0 1px 2px rgba(0, 0, 0, 0.822);
    
}

.field-group{
    padding: 10px;
}
input{
    width: 500px;
}
form{
    bottom: 60px;
}



/* galleries */

.text> h2{
    text-align: center;
    /* padding: 10vh; */
    font-size: 4rem;
}

.contents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10vh;
    gap: 20px;
    
}
#box{
    width: 350px;
}

.image-content{
    border-radius: 15px;
    width:300px;
    box-shadow: 0 1px 3px rgba(12, 12, 15, 0.744), 0 1px 2px rgba(0, 0, 0, 0.822);
    
}
.image-content img{
    width: 300px;
    border-radius: 10px;
}

#plus > button{
    display: block;
    margin: 0 auto;
    /* text-align: center; */
    width: 50%;
    border-radius: 15px;
    border: 1px solid  rgba(14, 23, 151, 0.779);
    color: black;
    background: rgba(14, 23, 151, 0.779);
    margin: 20px auto;
    
}
@media screen and (max-width:900px) {

    #paris-fond{
        background: #fff;;
        /* width: 80%; */
    }
    .containers{
        width: 250px;
        height: 500px;
        margin-bottom: 300px;
    }

    input{
        width: 130px;
    }

     label{
        padding:10px;
     }

     .text> h2{
        padding: 1px;
        font-size: 1rem;
     }

     .mages{
        width: 100px;
        /* height: 200px; */
     }

     .mages img{
         width: 100px;
     }

     #plus >button{
        margin-left: 100px;
     }
    
}
