*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: url(/assets/img/fond.jpg);
  width: 100vw;
  background-size: cover;
  height: 100vh;
  background-position: bottom;
  /* position: relative; */
}

.container{
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container .box{
  height: 86vh;
  width: 75%;
  padding:  0 20px;
  z-index: 10;
  border: 2px solid #fff;
  border-radius: 20px;
  display: inline-block;
  /* backdrop-filter: blur(25px); */
  box-shadow: -15px 17px 17px rgba(252, 250, 250, 0.15);
}


header{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

#logo img{
  width: 45%;
  margin-left: 90px;
}


a{
  text-decoration: none;
  /* color: #fff; */
  
}

ul{
  list-style: none;
  display: flex;
  text-align: center;
  /* margin: 0 10px; */
}

li{
  display: block;
  width: 100px;
  text-align: center;
  color: #fff;
  /* margin: 0 20px; */

}

li>a{
  color:#fff;
  text-align: center;
  text-decoration: none;
  /* margin-top:100px ; */
  font-weight: 400;
}

button{
  display: block;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  margin-bottom:80px ;
  border: 15px solid #fff;
  border-radius: 15px;
}

button>a{
  text-decoration: none;
}
