
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --marronTerreux:#8B4513;
    --vertOlive:#556B2F;
    --rougeVif:#FF0000;
    --jaunesolaire:#FFFF00;
    --beige:#F5F5DC;
    --bleuCiel:#87CEEB;
}

  
#home {
    background: linear-gradient(rgba(0,0,0,0.1),#995fa8), url("/assets/img/beach-8669736_1280.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: absolute; */
}

#home h4 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
}

#home p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 12px;
}

.home-btn {
    margin-bottom: 20px;
}

.find_trip {
    background: var(--bleuCiel);
    padding: 20px;
    width: 70%;
    position: absolute;
    bottom: -50px;
    box-shadow: 0 0 10px #ca77d5;
}

.find_trip form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.find_trip form div , .find_trip form input[type="submit"]{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.find_trip form label {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
}

.find_trip form input {
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #111a19;
    outline: 0;
    width: 100%;
    font-size: 13px;
    color: #fff;
}

.find_trip form input[type="submit"] {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.find_trip form input[type="submit"]:hover {
    box-shadow: 0 0 10px #7c1081;
    background: #995fa8;
}


.btn-reservation{
    color: #fff;
    text-decoration: none;
    border: 1px solid var(--marronTerreux);
    border-radius: 15px;
    background: var(--marronTerreux);
    width: 180px;
    text-align: center;
    overflow: hidden;
}

@media (max-width: 678px){
    .card-img-top{
        max-height: 250px;
    }
}

.over-bg{
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
}

.btn{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
}

.box .btn{
    font-size: 1.5rem;
}

@media (max-width: 1025px){
    .btn{
        padding: 5px 40px 5px 40px;
    }

}

@media (max-width: 250px){
    .btn{
        
        padding: 5px 30px 5px 30px;
    
    }
    }
    .btn-warning{
        background: none #f7810a;
        color: #ffffff;
        fill: #ffffff;
        border: none;
        text-decoration: none;
        outline: 0;
        box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25);
        border-radius: 100px;
    }
    
    .btn-warning:hover{
        
        background: none #ff962b;
        color: #ffffff;
        box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35)
    }
    .bg-success{
        font-size: 1rem;
        background-color: #f7810a !important;
    }
        
        .bg-danger{
            font-size: 1rem;
        }
        
        .price-hp{
            font-size: 1rem;
            font-weight: 600;
            color: darkgray;
        }
        
        .amz-hp{
            font-size: .7rem;
            font-weight: 600;
            color: darkgray;
        }
        .fa-question-circle:before{
            color: darkgray;
        }
        .fa-plus:before{
            color: darkgray;
        }
        .box{
            border-radius: 1rem;
            background: #fff;
            box-shadow: 0 6px 10px rgb(0 0 0 / 8%), 0 0 6px rgb(0 0 0 / 5%);
            /* transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12)} */
        }
            .box-img{max-width: 300px}
            
            .thumb-sec{
                max-width: 300px
            }
            
           



/* media queri */

@media screen and (max-width:780px) {
  header{
    flex-direction: column;
    padding: 20px;
  }

  li{
    display: none;
    width: 50px;
  }
  
  li>a{

    font-size: 2px;
    width: 50px;
    
}
  

/* nav{
    background: red;
} */

nav.active {
    display: flex;
    left: 0;
    
}

.mobile{
  display: block;
  width: 100px;
}

}