


















 <!-- footer -->
    
 <figure  class="footer-basic">
    <footer>
        <div class="social">
          <a href="https://www.instagram.com/"  target="_blank"><img src="../public/assets/img/instagram.png" alt="" width="55%">
          <i class="icon ion-social-instagram"></i></a>
  
          <a href="https://www.facebook.com/" target="_blank"><img src="../public/assets/img/facebook.png" alt="" width="55%">
            <i class="icon ion-social-snapchat"></i> </a>
            
            <a href="https://twitter.com/" target="_blank"><img src="../public/assets/img/twitter.png" alt="" width="55%">
              <i class="icon ion-social-twitter"></i></a>
  
              <a href="https://www.youtube.com/" target="_blank"><img src="../public/assets/img/youtube.png" alt="" width="55%" >
                <i class="icon ion-social-facebook"></i>
              </a></div>
  
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Produits</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Company Name © 2024</p>
    </footer>
   </figure>
  