<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta  title="Explore des destinations de rêves" >
    <meta name ="description" content=" Explorez le monde avec notre agence de voyage.
     De plages ensoleillées aux aventures en montagne, créez des souvenirs inoubliables avec nous !  ">
    <title>Agence de Voyage en ligne</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/vol.css">
    
    <script src="https://kit.fontawesome.com/ae331aba90.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
 <!-- header -->
 <header>
  <nav id="navigation">
    <div id="logo">
    <a href="../index.html">  <img src="../assets/img/modele-logo-voyage.png" alt="logo de la page "></a>
    </div>
    <ul id="links">
      <li><a href="../index.html"><i class="fa-solid fa-house"></i>Accueil</a></li>
      <li><a href="../view/vol.html"><i class="fa-solid fa-jet-fighter-up"></i>Vols</a></li>
      <li><a href="../view/hotels.html"><i class="fa-solid fa-bed"></i>Hotels</a></li>
      <li><a href="../view/voiture.html"><i class="fa-solid fa-car"></i></a>Location de voiture</li>
      <li><a href="../view/login.html"> <i class="fa-solid fa-right-to-bracket"></i>Connexion</a> </li>      
    </ul>

    <!-- <a href="#" class="action_btn">Recherche</a> -->
    <div class="toggles_btn">
      <i class="fa-solid fa-bars"></i>
    </div>
  </nav>
  <div id="dropdowns_btn ">
      <li><a href="../index.html"><i class="fa-solid fa-house"></i></a></li>
      <li><a href="../view/vol.html"><i class="fa-solid fa-jet-fighter-up"></i></a></li>
      <li><a href="../view/hotels.html"><i class="fa-solid fa-bed"></i></a></li>
      <li><a href="../view/voiture.html"><i class="fa-solid fa-car"></i></a></li>
      <li><a href="../view/login.html"> <i class="fa-solid fa-right-to-bracket"></i></a> </li> 
      <!-- <li> <a href="#" class="action_btn">Recherche</a></li>      -->
  </div>
</header>


      <!-- images de fond -->
    <!-- <section id="home">
      <div class="text-on-video">
        <video autoplay loop muted>
          <source src="../assets/video/48504-454713939_small.mp4" type="video/mp4">
        </video>
        <div class="text">
          <button><a href="#"></a>Explorez</button>
        </div>
      </div>
    </section> -->

          <!-- acceuil section -->
    <section id="home">
        <h2>Nous suivre</h2>
        <h4>Voyagez en Sécurité</h4>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit accusantium consectetur in voluptates neque.</p>
        <p>molestiae illum eaque praesentium esse. Quos iusto.</p>
        <a href="#" class="btn-reservation home-btn">Réserver Maintenant</a>
        <div class="find_trip">
            <form action="">
                <div>
                    <label>De</label>
                    <input type="text" placeholder="Paris(France)">
                </div>
                <div>
                    <label>A</label>
                    <input type="text" placeholder="Pays Ville région">
                </div>
                <div>
                    <label>Départ</label>
                    <input type="text" placeholder="24/04/2024">
                </div>
                <div>
                    <label>Arrivée</label>
                    <input type="text" placeholder="24/04/2024">
                </div>
                <input type="submit" value="Recherche">
            </form>
        </div>
    </section>

    <!-- destinantions -->
    <main> 
            <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
               <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3"> 
                <div class="col"> <div class="card h-100 shadow-sm">
                   <img src="https://i.natgeofe.com/n/c33b368d-d075-4189-8f15-8f54b8dd7461/coverstory_mexico_AWL_3x2.jpg?w=1436&h=958" class="card-img-top" alt="Mexico">
                   
                   <div class="card-body"> <div class="clearfix mb-3">
                     <span class="float-start badge rounded-pill bg-primary">ASUS Rog</span> 
                     <span class="float-end price-hp">12354.00&euro;</span>
                     </div>
                     
                     <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                     
                     <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a>
                     </div>

                     </div>
                     </div> 
                    </div>
                    
                    <div class="col">
                       <div class="card h-100 shadow-sm"> <img src="https://i.natgeofe.com/n/1d0200ce-9536-4bfe-b6aa-7c62560dd2a1/ile-daix-aerial-590_4x3.jpg?w=1436&h=1078" class="card-img-top" alt="ile Aix"> 
                        
                        <div class="card-body"> 
                          <div class="clearfix mb-3">
                             <span class="float-start badge rounded-pill bg-success">12354.00&euro;</span>
                             
                             <span class="float-end"><a href="#">Example</a></span>
                             </div> 
                             
                             <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.

                             </h5>
                              <div class="d-grid gap-2 my-4">
                                 <a href="#" class="btn btn-warning">Check offer</a>
                                 </div> 
                                
                                </div>
                              
                              </div>
                             </div> 
                             <div class="col"> 
                              <div class="card h-100 shadow-sm">
                                 <img src="https://i.natgeofe.com/n/0609dc30-d9f2-4828-a0ef-6e7a747fba77/coverstory_mexico_GettyI_2x3.jpg?w=1436&h=2154" class="card-img-top" alt="bassin de californie"> <div class="label-top shadow-sm">
                                  Asus Rog</div>
                                   <div class="card-body">
                                    
                                    <div class="clearfix mb-3">
                                       <span class="float-start badge rounded-pill bg-success">12354.00&euro;</span> 
                                       
                                       <span class="float-end">
                                        
                                        <a href="#" class="small text-muted">Reviews</a>
                                      </span> 
                                    </div>
                                     <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.</h5>
                                     
                                     <div class="text-center my-4">
                                       <a href="#" class="btn btn-warning">Check offer</a>
                                       </div> 
                                       
                                       <div class="clearfix mb-1"> 
                                        <span class="float-start"><i class="far fa-question-circle"></i>
                                        </span>
                                        
                                        <span class="float-end"><i class="fas fa-plus"></i>
                                        </span> 
                                      
                                      </div> 
                                    </div>
                                   </div>
                                   </div>

                                    <div class="col"> 
                                      <div class="card h-100 shadow-sm">
                                         <img src="https://i.natgeofe.com/n/bd40e5a2-e085-4f1d-88a2-6504a8348690/GettyImages-1168257279_3x4.jpg?w=2520&h=3360" class="card-img-top" alt="panama">
                                         
                                         <div class="label-top shadow-sm">DELL</div>

                                          <div class="card-body"> 
                                            <div class="clearfix mb-3">
                                               <span class="float-start price-hp">12354.00&euro;

                                               </span>
                                                <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span>
                                               </div>
                                                <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.
                
                                                </h5>
                                                 <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> 
                                                </div>
                                                 <div class="clearfix mb-1"> 
                                                  <span class="float-start"><i class="far fa-question-circle"></i>
                                                  </span> 
                                                  <span class="float-end"><i class="fas fa-plus"></i>
                                                  </span>
                                                 </div>
                                                </div>
                                                 </div> 
                                                </div>


                                                <div class="col"> 
                                                  <div class="card h-100 shadow-sm">
                                                     <img src="../assets/img/malawi.jpg" class="card-img-top" alt="...">
                                                     
                                                     <div class="label-top shadow-sm">DELL</div>
            
                                                      <div class="card-body"> 
                                                        <div class="clearfix mb-3">
                                                           <span class="float-start price-hp">12354.00&euro;
            
                                                           </span>
                                                            <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span>
                                                           </div>
                                                            <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.
                            
                                                            </h5>
                                                             <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> 
                                                            </div>
                                                             <div class="clearfix mb-1"> 
                                                              <span class="float-start"><i class="far fa-question-circle"></i>
                                                              </span> 
                                                              <span class="float-end"><i class="fas fa-plus"></i>
                                                              </span>
                                                             </div>
                                                            </div>
                                                             </div> 
                                                            </div>

                                                            <div class="col"> 
                                                              <div class="card h-100 shadow-sm">
                                                                 <img src="../assets/img/thailande.jpg" class="card-img-top" alt="...">
                                                                 
                                                                 <div class="label-top shadow-sm">DELL</div>
                        
                                                                  <div class="card-body"> 
                                                                    <div class="clearfix mb-3">
                                                                       <span class="float-start price-hp">12354.00&euro;
                        
                                                                       </span>
                                                                        <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span>
                                                                       </div>
                                                                        <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.
                                        
                                                                        </h5>
                                                                         <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> 
                                                                        </div>
                                                                         <div class="clearfix mb-1"> 
                                                                          <span class="float-start"><i class="far fa-question-circle"></i>
                                                                          </span> 
                                                                          <span class="float-end"><i class="fas fa-plus"></i>
                                                                          </span>
                                                                         </div>
                                                                        </div>
                                                                         </div> 
                                                                        </div>
            

                                                                        <div class="col"> 
                                                                          <div class="card h-100 shadow-sm">
                                                                             <img src="../assets/img/me meurice.jpg" class="card-img-top" alt="...">
                                                                             
                                                                             <div class="label-top shadow-sm">DELL</div>
                                    
                                                                              <div class="card-body"> 
                                                                                <div class="clearfix mb-3">
                                                                                   <span class="float-start price-hp">12354.00&euro;
                                    
                                                                                   </span>
                                                                                    <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span>
                                                                                   </div>
                                                                                    <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.
                                                    
                                                                                    </h5>
                                                                                     <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> 
                                                                                    </div>
                                                                                     <div class="clearfix mb-1"> 
                                                                                      <span class="float-start"><i class="far fa-question-circle"></i>
                                                                                      </span> 
                                                                                      <span class="float-end"><i class="fas fa-plus"></i>
                                                                                      </span>
                                                                                     </div>
                                                                                    </div>
                                                                                     </div> 
                                                                                    </div>

                                                                                    <div class="col"> 
                                                                                      <div class="card h-100 shadow-sm">
                                                                                         <img src="../assets/img/maldive.png" class="card-img-top" alt="...">
                                                                                         
                                                                                         <div class="label-top shadow-sm">DELL</div>
                                                
                                                                                          <div class="card-body"> 
                                                                                            <div class="clearfix mb-3">
                                                                                               <span class="float-start price-hp">12354.00&euro;
                                                
                                                                                               </span>
                                                                                                <span class="float-end"><a class="text-muted small" href="#">Reviews</a></span>
                                                                                               </div>
                                                                                                <h5 class="card-title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam quidem eaque ut eveniet aut quis rerum. Asperiores accusamus harum ducimus velit odit ut. Saepe, iste optio laudantium sed aliquam sequi.
                                                                
                                                                                                </h5>
                                                                                                 <div class="text-center my-4"> <a href="#" class="btn btn-warning">Check offer</a> 
                                                                                                </div>
                                                                                                 <div class="clearfix mb-1"> 
                                                                                                  <span class="float-start"><i class="far fa-question-circle"></i>
                                                                                                  </span> 
                                                                                                  <span class="float-end"><i class="fas fa-plus"></i>
                                                                                                  </span>
                                                                                                 </div>
                                                                                                </div>
                                                                                                 </div> 
                                                                                                </div>
                                    
                        
                                                            
                                               </div>
                                               </div>
                                               </main>

                                               <!-- button savoir + -->

                    <button><a href="#">En Savoir Plus</a></button>


</body>

</html>

